0.0.0.0:80 {
  log stdout
  errors stderr
  redir https://{host}{uri} 301
}

illuminepixels.io {

    proxy / appserver:8090 {
        transparent
        websocket
    }

    gzip

    tls rutledgepaulv@gmail.com
}