0.0.0.0:80 {
  log stdout
  errors stderr
  redir https://{host}{uri} 301
}

illuminepixels.io {

    proxy / appserver:8090 {
        header_upstream Host {host}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }

    gzip

    tls rutledgepaulv@gmail.com {
       ca https://acme-staging.api.letsencrypt.org/directory
    }
}